<div class="navbar">
    <h1>Dobór głównych danych technologicznych</h1>
    <p class="menu"><a href="/parameters" class="parametrycos">Parametry COS</a></p>
</div>
<div class="selection-panel">
    <div class="zone-selection">
        <p class="zone1"><a href="/">Pasmo 1</a> </p>
        <p class="zone2"><a href="/zone2">Pasmo 2</a></p>
    </div>
    <div class="new-db">
        <form action="/" method="POST" encType="multipart/form-data">
            <input type="file" name="file" accept="*.csv" /><br /><br />
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

<section class="get">
    <div class="main-space">
        <div class="left-part">
            <p class="speed">PRĘDKOŚĆ [m/min]</p>
            <div class="buttons">
                <button class="val butts"><a href="/v-06-zone1">0.6</a></button>
                <button class="val butts"><a href="/v-08-zone1">0.8</a></button>
                <button class="val butts"><a href="/v-1-zone1">1.0</a></button>
                <button class="val butts"><a href="/v-12-zone1">1.2</a></button>
            </div>
            <div class="speed-groups">
                <form action="/index.js">
                    <div class="speed-group1">
                        <input type="radio" name="speed-groups" value="grupa1" id="grupa1"> Grupa 1<br>
                    </div>
                    <div class="speed-group2">
                        <input type="radio" name="speed-groups" value="grupa2" id="grupa2"> Grupa 2<br>
                    </div>
                </form>
            </div>
        </div>
        <div class="right-part">
            <div class="zones">
                <div class="first-zone">
                    <p>Pasmo 1</p>
                    <table>
                        <tr>
                            <th>     </th>
                            <th>P1034</th>
                            <th>P1036</th>
                            <th>P1058</th>
                            <th>P1060</th>
                            <th>P1062</th>
                            <th>P1064</th>
                            <th>P1104</th>
                            <th>P1106</th>
                            <th>P1108</th>
                            <th>P1112</th>
                            <th>P1114</th>
                            <th>P1118</th>
                            <th>P1120</th>
                            <th>P1122</th>
                            <th>P1124</th>
                            <th>P1126</th>
                            <th>P1128</th>
                            <th>P1130</th>
                            <th>P1132</th>
                            <th>P1134</th>
                            <th>P1136</th>
                            <th>P1138</th>
                            <th>P1140</th>
                            <th>P1142</th>
                            <th>P1144</th>
                            <th>P1146</th>
                            <th>P1148</th>
                            <th>P1150</th>
                            <th>P1152</th>
                            <th>P1154</th>
                            <th>P1156</th>
                            <th>P1158</th>
                            <th>P1160</th>
                            <th>P1162</th>
                            <th>P1164</th>
                            <th>P1166</th>
                            <th>P1168</th>
                            <th>P1170</th>
                            <th>P1172</th>
                            <th>P1182</th>
                            <th>P1188</th>
                            <th>P1194</th>
                        </tr>
                        <tr>
                            <th>       </th>
                            <th>[m/min]</th>
                            <th>[m/min]</th>
                            <th>[mm]</th>
                            <th>[mm]</th>
                            <th>[mm]</th>
                            <th>[mm]</th>
                            <th>[m/min]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[m/min]</th>
                        </tr>
                        <tr>
                            <th>Min</th>
                            <th>{{results.minP1034}}</th>
                            <th>{{results.minP1036}}</th>
                            <th>{{results.minP1058}}</th>
                            <th>{{results.minP1060}}</th>
                            <th>{{results.minP1062}}</th>
                            <th>{{results.minP1064}}</th>
                            <th>{{results.minP1104}}</th>
                            <th>{{results.minP1106}}</th>
                            <th>{{results.minP1108}}</th>
                            <th>{{results.minP1112}}</th>
                            <th>{{results.minP1114}}</th>
                            <th>{{results.minP1118}}</th>
                            <th>{{results.minP1120}}</th>
                            <th>{{results.minP1122}}</th>
                            <th>{{results.minP1124}}</th>
                            <th>{{results.minP1126}}</th>
                            <th>{{results.minP1128}}</th>
                            <th>{{results.minP1130}}</th>
                            <th>{{results.minP1132}}</th>
                            <th>{{results.minP1134}}</th>
                            <th>{{results.minP1136}}</th>
                            <th>{{results.minP1138}}</th>
                            <th>{{results.minP1140}}</th>
                            <th>{{results.minP1142}}</th>
                            <th>{{results.minP1144}}</th>
                            <th>{{results.minP1146}}</th>
                            <th>{{results.minP1148}}</th>
                            <th>{{results.minP1150}}</th>
                            <th>{{results.minP1152}}</th>
                            <th>{{results.minP1154}}</th>
                            <th>{{results.minP1156}}</th>
                            <th>{{results.minP1158}}</th>
                            <th>{{results.minP1160}}</th>
                            <th>{{results.minP1162}}</th>
                            <th>{{results.minP1164}}</th>
                            <th>{{results.minP1166}}</th>
                            <th>{{results.minP1168}}</th>
                            <th>{{results.minP1170}}</th>
                            <th>{{results.minP1172}}</th>
                            <th>{{results.minP1182}}</th>
                            <th>{{results.minP1188}}</th>
                            <th>{{results.minP1194}}</th>
                        </tr>
                        <tr>
                            <th>Max</th>
                            <th>{{results.maxP1034}}</th>
                            <th>{{results.maxP1036}}</th>
                            <th>{{results.maxP1058}}</th>
                            <th>{{results.maxP1060}}</th>
                            <th>{{results.maxP1062}}</th>
                            <th>{{results.maxP1064}}</th>
                            <th>{{results.maxP1104}}</th>
                            <th>{{results.maxP1106}}</th>
                            <th>{{results.maxP1108}}</th>
                            <th>{{results.maxP1112}}</th>
                            <th>{{results.maxP1114}}</th>
                            <th>{{results.maxP1118}}</th>
                            <th>{{results.maxP1120}}</th>
                            <th>{{results.maxP1122}}</th>
                            <th>{{results.maxP1124}}</th>
                            <th>{{results.maxP1126}}</th>
                            <th>{{results.maxP1128}}</th>
                            <th>{{results.maxP1130}}</th>
                            <th>{{results.maxP1132}}</th>
                            <th>{{results.maxP1134}}</th>
                            <th>{{results.maxP1136}}</th>
                            <th>{{results.maxP1138}}</th>
                            <th>{{results.maxP1140}}</th>
                            <th>{{results.maxP1142}}</th>
                            <th>{{results.maxP1144}}</th>
                            <th>{{results.maxP1146}}</th>
                            <th>{{results.maxP1148}}</th>
                            <th>{{results.maxP1150}}</th>
                            <th>{{results.maxP1152}}</th>
                            <th>{{results.maxP1154}}</th>
                            <th>{{results.maxP1156}}</th>
                            <th>{{results.maxP1158}}</th>
                            <th>{{results.maxP1160}}</th>
                            <th>{{results.maxP1162}}</th>
                            <th>{{results.maxP1164}}</th>
                            <th>{{results.maxP1166}}</th>
                            <th>{{results.maxP1168}}</th>
                            <th>{{results.maxP1170}}</th>
                            <th>{{results.maxP1172}}</th>
                            <th>{{results.maxP1182}}</th>
                            <th>{{results.maxP1188}}</th>
                            <th>{{results.maxP1194}}</th>
                        </tr>
                        <tr>
                            <th>Średnia</th>
                            <th>{{results.avgP1034}}</th>
                            <th>{{results.avgP1036}}</th>
                            <th>{{results.avgP1058}}</th>
                            <th>{{results.avgP1060}}</th>
                            <th>{{results.avgP1062}}</th>
                            <th>{{results.avgP1064}}</th>
                            <th>{{results.avgP1104}}</th>
                            <th>{{results.avgP1106}}</th>
                            <th>{{results.avgP1108}}</th>
                            <th>{{results.avgP1112}}</th>
                            <th>{{results.avgP1114}}</th>
                            <th>{{results.avgP1118}}</th>
                            <th>{{results.avgP1120}}</th>
                            <th>{{results.avgP1122}}</th>
                            <th>{{results.avgP1124}}</th>
                            <th>{{results.avgP1126}}</th>
                            <th>{{results.avgP1128}}</th>
                            <th>{{results.avgP1130}}</th>
                            <th>{{results.avgP1132}}</th>
                            <th>{{results.avgP1134}}</th>
                            <th>{{results.avgP1136}}</th>
                            <th>{{results.avgP1138}}</th>
                            <th>{{results.avgP1140}}</th>
                            <th>{{results.avgP1142}}</th>
                            <th>{{results.avgP1144}}</th>
                            <th>{{results.avgP1146}}</th>
                            <th>{{results.avgP1148}}</th>
                            <th>{{results.avgP1150}}</th>
                            <th>{{results.avgP1152}}</th>
                            <th>{{results.avgP1154}}</th>
                            <th>{{results.avgP1156}}</th>
                            <th>{{results.avgP1158}}</th>
                            <th>{{results.avgP1160}}</th>
                            <th>{{results.avgP1162}}</th>
                            <th>{{results.avgP1164}}</th>
                            <th>{{results.avgP1166}}</th>
                            <th>{{results.avgP1168}}</th>
                            <th>{{results.avgP1170}}</th>
                            <th>{{results.avgP1172}}</th>
                            <th>{{results.avgP1182}}</th>
                            <th>{{results.avgP1188}}</th>
                            <th>{{results.avgP1194}}</th>
                        </tr>

                    </table>
                </div>
            </div>

        </div>

    </div>
</section>
