<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    {{{ body }}}

    <script>
 /* pop out */
        if (window.location.href == "http://localhost:1337/") {
            var helpQuestion = confirm('Czy potrzebujesz pomocy w obsłudze tej aplikacji? \nOk - Przekierujemy Cię do okna z instrukcją obsługi apklikacji \nCancel - Przejdź do aplikacji');
            if (helpQuestion == true) {
                window.location.href = "instruction";
            }
        }


 /*radiobuttons for table can be unchecked*/
        var myRadios = document.getElementsByClassName('subscribe');
        var setCheck;
        var x = 0;
        for (x = 0; x < myRadios.length; x++) {

            myRadios[x].onclick = function () {
                if (setCheck != this) {
                    setCheck = this;
                } else {
                    this.checked = false;
                    setCheck = null;
                }
            };

        }
/*radiobuttons - what should be visible*/
/*speed*/
        document.getElementById("speed").addEventListener("click", myViewSpeed);
        function myViewSpeed() {
            var speedVisibility = document.getElementsByClassName("speed-visibility");
            if (document.getElementById("speed").checked == true) {
                for (var i = 0; i < speedVisibility.length; i += 1) {
                    speedVisibility[i].style.display = 'table-cell';
                }
            } else {
                for (var i = 0; i < speedVisibility.length; i += 1) {
                    speedVisibility[i].style.display = "none";
                }
            }
        }

/*flow*/
        document.getElementById("flow").addEventListener("click", myViewFlow);
        function myViewFlow() {
            var flowVisibility = document.getElementsByClassName("flow-visibility");
            if (document.getElementById("flow").checked == true) {
                for (var i = 0; i < flowVisibility.length; i += 1) {
                   flowVisibility[i].style.display = 'table-cell';
                }
            } else {
                for (var i = 0; i < flowVisibility.length; i += 1) {
                    flowVisibility[i].style.display = "none";
                }
            }
        }
/*flow*/
        document.getElementById("pressure").addEventListener("click", myViewPressure);
        function myViewPressure() {
            var pressureVisibility = document.getElementsByClassName("pressure-visibility");
            if (document.getElementById("pressure").checked == true) {
                for (var i = 0; i < pressureVisibility.length; i += 1) {
                    pressureVisibility[i].style.display = 'table-cell';
                }
            } else {
                for (var i = 0; i < pressureVisibility.length; i += 1) {
                    pressureVisibility[i].style.display = "none";
                }
            }
        }

/*temperature*/
        document.getElementById("temp").addEventListener("click", myViewTemp);
        function myViewTemp() {
            var tempVisibility = document.getElementsByClassName("temp-visibility");
            if (document.getElementById("temp").checked == true) {
                for (var i = 0; i < tempVisibility.length; i += 1) {
                    tempVisibility[i].style.display = 'table-cell';
                }
            } else {
                for (var i = 0; i < tempVisibility.length; i += 1) {
                    tempVisibility[i].style.display = "none";
                }
            }
        }
/*others*/
        document.getElementById("others").addEventListener("click", myViewOthers);
        function myViewOthers() {
            var othersVisibility = document.getElementsByClassName("others-visibility");
            if (document.getElementById("others").checked == true) {
                for (var i = 0; i < othersVisibility.length; i += 1) {
                    othersVisibility[i].style.display = 'table-cell';
                }
            } else {
                for (var i = 0; i < othersVisibility.length; i += 1) {
                    othersVisibility[i].style.display = "none";
                }
            }
        }



/*catching file name to create db*/

        document.getElementById("submitDb").addEventListener("click", addDbFunction);
        function addDbFunction() {
            var sequence = document.getElementById("mine").value;
            var seqArray = sequence.split("\\");
            var fileName = seqArray[2];
            var db = fileName.split(".");
            var dbName = db[0];

/*adding db name to dropdown list*/
            var x = document.getElementById("select-sequence");
            var newOption = document.createElement("option");
            newOption.text = dbName;
            var newMy = x.add(newOption);
            
            console.log(dbName);
            return dbName, newMy;
            
        }



 /* redirections for groups and zones*/
        var radios = document.forms["sg"].elements["speed-groups"];
        for (radio in radios) {
            radios[radio].onclick = function () {
                if (this.value == 'zone1group1') {
                    //redirections for group1 zone 1
                    var v06zone1G1 = document.getElementById('v-06-zone1'); 
                    v06zone1G1.href = "/v-06-zone1";

                    var v08zone1G1 = document.getElementById('v-08-zone1');
                    v08zone1G1.href = "/v-08-zone1";

                    var v1zone1G1 = document.getElementById('v-1-zone1');
                    v1zone1G1.href = "/v-1-zone1";

                    var v12zone1G1 = document.getElementById('v-12-zone1');
                    v12zone1G1.href = "/v-12-zone1";

                } else if (this.value == 'zone1group2') {
                     //redirections for group2 zone 1
                    var v06zone1G1 = document.getElementById('v-06-zone1');
                    v06zone1G1.href = "/v-06-zone1-G2";

                    var v08zone1G1 = document.getElementById('v-08-zone1');
                    v08zone1G1.href = "/v-08-zone1-G2";

                    var v1zone1G1 = document.getElementById('v-1-zone1');
                    v1zone1G1.href = "/v-1-zone1-G2";

                    var v12zone1G1 = document.getElementById('v-12-zone1');
                    v12zone1G1.href = "/v-12-zone1-G2";
                } else if (this.value == 'zone2group1') {
                    //redirections for group1 zone 2
                    var v06zone2G1 = document.getElementById('v-06-zone2');
                    v06zone2G1.href = "/v-06-zone2";

                    var v08zone2G1 = document.getElementById('v-08-zone2');
                    v08zone2G1.href = "/v-08-zone2";

                    var v1zone2G1 = document.getElementById('v-1-zone2');
                    v1zone2G1.href = "/v-1-zone2";

                    var v12zone2G1 = document.getElementById('v-12-zone2');
                    v12zone2G1.href = "/v-12-zone2";

                } else if (this.value == 'zone2group2') {
                    //redirections for group2 zone 2
                    var v06zone2G1 = document.getElementById('v-06-zone2');
                    v06zone2G1.href = "/v-06-zone2-G2";

                    var v08zone2G1 = document.getElementById('v-08-zone2');
                    v08zone2G1.href = "/v-08-zone2-G2";

                    var v1zone2G1 = document.getElementById('v-1-zone2');
                    v1zone2G1.href = "/v-1-zone2-G2";

                    var v12zone2G1 = document.getElementById('v-12-zone2');
                    v12zone2G1.href = "/v-12-zone2-G2";
                } else {
                    alert("Wybierz grupę");
                }
               
            } 
        }

        
        function myFunction() {
            var x = document.getElementById("searchparameter");
            var searchedParameter = x.value;

           //function which generates response for P1
            var  searchByTextFieldP1 = function() {
                if (searchedParameter == 'P1034') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1034}} <br>" +
                        "Max: " + "{{results.maxP1034}} <br>" +
                        "Średnia: " + "{{results.avgP1034}}";
                } else if (searchedParameter == 'P1036') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1036}} <br>" +
                        "Max: " + "{{results.maxP1036}} <br>" +
                        "Średnia: " + "{{results.avgP1036}}";
                } else if (searchedParameter == 'P1058') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1058}} <br>" +
                        "Max: " + "{{results.maxP1058}} <br>" +
                        "Średnia: " + "{{results.avgP1058}}";
                } else if (searchedParameter == 'P1060') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1060}} <br>" +
                        "Max: " + "{{results.maxP1060}} <br>" +
                        "Średnia: " + "{{results.avgP1060}}";
                } else if (searchedParameter == 'P1062') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1062}} <br>" +
                        "Max: " + "{{results.maxP1062}} <br>" +
                        "Średnia: " + "{{results.avgP1062}}";
                } else if (searchedParameter == 'P1064') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1064}} <br>" +
                        "Max: " + "{{results.maxP1064}} <br>" +
                        "Średnia: " + "{{results.avgP1064}}";
                } else if (searchedParameter == 'P1104') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1104}} <br>" +
                        "Max: " + "{{results.maxP1104}} <br>" +
                        "Średnia: " + "{{results.avgP1104}}";
                } else if (searchedParameter == 'P1106') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1106}} <br>" +
                        "Max: " + "{{results.maxP1106}} <br>" +
                        "Średnia: " + "{{results.avgP1106}}";
                } else if (searchedParameter == 'P1108') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1108}} <br>" +
                        "Max: " + "{{results.maxP1108}} <br>" +
                        "Średnia: " + "{{results.avgP1108}}";
                } else if (searchedParameter == 'P1112') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1112}} <br>" +
                        "Max: " + "{{results.maxP1112}} <br>" +
                        "Średnia: " + "{{results.avgP1112}}";
                } else if (searchedParameter == 'P1114') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1114}} <br>" +
                        "Max: " + "{{results.maxP1114}} <br>" +
                        "Średnia: " + "{{results.avgP1114}}";
                } else if (searchedParameter == 'P1118') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1118}} <br>" +
                        "Max: " + "{{results.maxP1118}} <br>" +
                        "Średnia: " + "{{results.avgP1118}}";
                } else if (searchedParameter == 'P1120') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1120}} <br>" +
                        "Max: " + "{{results.maxP1120}} <br>" +
                        "Średnia: " + "{{results.avgP1120}}";
                } else if (searchedParameter == 'P1120') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1122}} <br>" +
                        "Max: " + "{{results.maxP1122}} <br>" +
                        "Średnia: " + "{{results.avgP1122}}";
                } else if (searchedParameter == 'P1124') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1124}} <br>" +
                        "Max: " + "{{results.maxP1124}} <br>" +
                        "Średnia: " + "{{results.avgP1124}}";
                } else if (searchedParameter == 'P1126') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1126}} <br>" +
                        "Max: " + "{{results.maxP1126}} <br>" +
                        "Średnia: " + "{{results.avgP1126}}";
                } else if (searchedParameter == 'P1128') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1128}} <br>" +
                        "Max: " + "{{results.maxP1128}} <br>" +
                        "Średnia: " + "{{results.avgP1128}}";
                } else if (searchedParameter == 'P1130') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1130}} <br>" +
                        "Max: " + "{{results.maxP1130}} <br>" +
                        "Średnia: " + "{{results.avgP1130}}";
                } else if (searchedParameter == 'P1132') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1132}} <br>" +
                        "Max: " + "{{results.maxP1132}} <br>" +
                        "Średnia: " + "{{results.avgP1132}}";
                } else if (searchedParameter == 'P1134') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1134}} <br>" +
                        "Max: " + "{{results.maxP1134}} <br>" +
                        "Średnia: " + "{{results.avgP1134}}";
                } else if (searchedParameter == 'P1136') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1136}} <br>" +
                        "Max: " + "{{results.maxP1136}} <br>" +
                        "Średnia: " + "{{results.avgP1136}}";
                } else if (searchedParameter == 'P1138') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1138}} <br>" +
                        "Max: " + "{{results.maxP1138}} <br>" +
                        "Średnia: " + "{{results.avgP1138}}";
                } else if (searchedParameter == 'P1140') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1140}} <br>" +
                        "Max: " + "{{results.maxP1140}} <br>" +
                        "Średnia: " + "{{results.avgP1140}}";
                } else if (searchedParameter == 'P1142') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1142}} <br>" +
                        "Max: " + "{{results.maxP1142}} <br>" +
                        "Średnia: " + "{{results.avgP1142}}";
                } else if (searchedParameter == 'P1144') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1144}} <br>" +
                        "Max: " + "{{results.maxP1144}} <br>" +
                        "Średnia: " + "{{results.avgP1144}}";
                } else if (searchedParameter == 'P1146') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1146}} <br>" +
                        "Max: " + "{{results.maxP1146}} <br>" +
                        "Średnia: " + "{{results.avgP1146}}";
                } else if (searchedParameter == 'P1148') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1148}} <br>" +
                        "Max: " + "{{results.maxP1148}} <br>" +
                        "Średnia: " + "{{results.avgP1148}}";
                } else if (searchedParameter == 'P1150') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1150}} <br>" +
                        "Max: " + "{{results.maxP1150}} <br>" +
                        "Średnia: " + "{{results.avgP1150}}";
                } else if (searchedParameter == 'P1152') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1152}} <br>" +
                        "Max: " + "{{results.maxP1152}} <br>" +
                        "Średnia: " + "{{results.avgP1152}}";
                } else if (searchedParameter == 'P1154') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1154}} <br>" +
                        "Max: " + "{{results.maxP1154}} <br>" +
                        "Średnia: " + "{{results.avgP1154}}";
                } else if (searchedParameter == 'P1156') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1156}} <br>" +
                        "Max: " + "{{results.maxP1156}} <br>" +
                        "Średnia: " + "{{results.avgP1156}}";
                } else if (searchedParameter == 'P1158') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1158}} <br>" +
                        "Max: " + "{{results.maxP1158}} <br>" +
                        "Średnia: " + "{{results.avgP1158}}";
                } else if (searchedParameter == 'P1160') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1160}} <br>" +
                        "Max: " + "{{results.maxP1160}} <br>" +
                        "Średnia: " + "{{results.avgP1160}}";
                } else if (searchedParameter == 'P1162') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1162}} <br>" +
                        "Max: " + "{{results.maxP1162}} <br>" +
                        "Średnia: " + "{{results.avgP1162}}";
                } else if (searchedParameter == 'P1164') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1164}} <br>" +
                        "Max: " + "{{results.maxP1164}} <br>" +
                        "Średnia: " + "{{results.avgP1164}}";
                } else if (searchedParameter == 'P1166') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1166}} <br>" +
                        "Max: " + "{{results.maxP1166}} <br>" +
                        "Średnia: " + "{{results.avgP1166}}";
                } else if (searchedParameter == 'P1168') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1168}} <br>" +
                        "Max: " + "{{results.maxP1168}} <br>" +
                        "Średnia: " + "{{results.avgP1168}}";
                } else if (searchedParameter == 'P1170') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1170}} <br>" +
                        "Max: " + "{{results.maxP1170}} <br>" +
                        "Średnia: " + "{{results.avgP1170}}";
                } else if (searchedParameter == 'P1172') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1172}} <br>" +
                        "Max: " + "{{results.maxP1172}} <br>" +
                        "Średnia: " + "{{results.avgP1172}}";
                } else if (searchedParameter == 'P1182') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1182}} <br>" +
                        "Max: " + "{{results.maxP1182}} <br>" +
                        "Średnia: " + "{{results.avgP1182}}";
                } else if (searchedParameter == 'P1188') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1188}} <br>" +
                        "Max: " + "{{results.maxP1188}} <br>" +
                        "Średnia: " + "{{results.avgP1188}}";
                } else if (searchedParameter == 'P1194') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP1194}} <br>" +
                        "Max: " + "{{results.maxP1194}} <br>" +
                        "Średnia: " + "{{results.avgP1194}}";
                } else {
                    alert('Niestety nasza baza nie zawiera informacji o takim parametrze');
                }
            }

           //function which generates response for P2
            var searchByTextFieldP2 = function () {
                if (searchedParameter == 'P2034') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2034}} <br>" +
                        "Max: " + "{{results.maxP2034}} <br>" +
                        "Średnia: " + "{{results.avgP2034}}";
                } else if (searchedParameter == 'P2036') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2036}} <br>" +
                        "Max: " + "{{results.maxP2036}} <br>" +
                        "Średnia: " + "{{results.avgP2036}}";
                } else if (searchedParameter == 'P2058') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2058}} <br>" +
                        "Max: " + "{{results.maxP2058}} <br>" +
                        "Średnia: " + "{{results.avgP2058}}";
                } else if (searchedParameter == 'P2060') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2060}} <br>" +
                        "Max: " + "{{results.maxP2060}} <br>" +
                        "Średnia: " + "{{results.avgP2060}}";
                } else if (searchedParameter == 'P2062') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2062}} <br>" +
                        "Max: " + "{{results.maxP2062}} <br>" +
                        "Średnia: " + "{{results.avgP2062}}";
                } else if (searchedParameter == 'P2064') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2064}} <br>" +
                        "Max: " + "{{results.maxP2064}} <br>" +
                        "Średnia: " + "{{results.avgP2064}}";
                } else if (searchedParameter == 'P2104') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2104}} <br>" +
                        "Max: " + "{{results.maxP2104}} <br>" +
                        "Średnia: " + "{{results.avgP2104}}";
                } else if (searchedParameter == 'P2106') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2106}} <br>" +
                        "Max: " + "{{results.maxP2106}} <br>" +
                        "Średnia: " + "{{results.avgP2106}}";
                } else if (searchedParameter == 'P2108') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2108}} <br>" +
                        "Max: " + "{{results.maxP2108}} <br>" +
                        "Średnia: " + "{{results.avgP2108}}";
                } else if (searchedParameter == 'P2112') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2112}} <br>" +
                        "Max: " + "{{results.maxP2112}} <br>" +
                        "Średnia: " + "{{results.avgP2112}}";
                } else if (searchedParameter == 'P2114') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2114}} <br>" +
                        "Max: " + "{{results.maxP2114}} <br>" +
                        "Średnia: " + "{{results.avgP2114}}";
                } else if (searchedParameter == 'P2118') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2118}} <br>" +
                        "Max: " + "{{results.maxP2118}} <br>" +
                        "Średnia: " + "{{results.avgP2118}}";
                } else if (searchedParameter == 'P2120') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2120}} <br>" +
                        "Max: " + "{{results.maxP2120}} <br>" +
                        "Średnia: " + "{{results.avgP2120}}";
                } else if (searchedParameter == 'P2120') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2122}} <br>" +
                        "Max: " + "{{results.maxP2122}} <br>" +
                        "Średnia: " + "{{results.avgP2122}}";
                } else if (searchedParameter == 'P2124') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2124}} <br>" +
                        "Max: " + "{{results.maxP2124}} <br>" +
                        "Średnia: " + "{{results.avgP2124}}";
                } else if (searchedParameter == 'P2126') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości 0.6[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2126}} <br>" +
                        "Max: " + "{{results.maxP2126}} <br>" +
                        "Średnia: " + "{{results.avgP2126}}";
                } else if (searchedParameter == 'P2128') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2128}} <br>" +
                        "Max: " + "{{results.maxP2128}} <br>" +
                        "Średnia: " + "{{results.avgP2128}}";
                } else if (searchedParameter == 'P2130') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2130}} <br>" +
                        "Max: " + "{{results.maxP2130}} <br>" +
                        "Średnia: " + "{{results.avgP2130}}";
                } else if (searchedParameter == 'P2132') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2132}} <br>" +
                        "Max: " + "{{results.maxP2132}} <br>" +
                        "Średnia: " + "{{results.avgP2132}}";
                } else if (searchedParameter == 'P2134') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2134}} <br>" +
                        "Max: " + "{{results.maxP2134}} <br>" +
                        "Średnia: " + "{{results.avgP2134}}";
                } else if (searchedParameter == 'P2136') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2136}} <br>" +
                        "Max: " + "{{results.maxP2136}} <br>" +
                        "Średnia: " + "{{results.avgP2136}}";
                } else if (searchedParameter == 'P2138') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2138}} <br>" +
                        "Max: " + "{{results.maxP2138}} <br>" +
                        "Średnia: " + "{{results.avgP2138}}";
                } else if (searchedParameter == 'P2140') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2140}} <br>" +
                        "Max: " + "{{results.maxP2140}} <br>" +
                        "Średnia: " + "{{results.avgP2140}}";
                } else if (searchedParameter == 'P2142') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2142}} <br>" +
                        "Max: " + "{{results.maxP2142}} <br>" +
                        "Średnia: " + "{{results.avgP2142}}";
                } else if (searchedParameter == 'P2144') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2144}} <br>" +
                        "Max: " + "{{results.maxP2144}} <br>" +
                        "Średnia: " + "{{results.avgP2144}}";
                } else if (searchedParameter == 'P2146') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2146}} <br>" +
                        "Max: " + "{{results.maxP2146}} <br>" +
                        "Średnia: " + "{{results.avgP2146}}";
                } else if (searchedParameter == 'P2148') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2148}} <br>" +
                        "Max: " + "{{results.maxP2148}} <br>" +
                        "Średnia: " + "{{results.avgP2148}}";
                } else if (searchedParameter == 'P2150') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2150}} <br>" +
                        "Max: " + "{{results.maxP2150}} <br>" +
                        "Średnia: " + "{{results.avgP2150}}";
                } else if (searchedParameter == 'P2152') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2152}} <br>" +
                        "Max: " + "{{results.maxP2152}} <br>" +
                        "Średnia: " + "{{results.avgP2152}}";
                } else if (searchedParameter == 'P2154') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2154}} <br>" +
                        "Max: " + "{{results.maxP2154}} <br>" +
                        "Średnia: " + "{{results.avgP2154}}";
                } else if (searchedParameter == 'P2156') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.min21156}} <br>" +
                        "Max: " + "{{results.maxP2156}} <br>" +
                        "Średnia: " + "{{results.avgP2156}}";
                } else if (searchedParameter == 'P2158') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2158}} <br>" +
                        "Max: " + "{{results.maxP2158}} <br>" +
                        "Średnia: " + "{{results.avgP2158}}";
                } else if (searchedParameter == 'P2160') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2160}} <br>" +
                        "Max: " + "{{results.maxP2160}} <br>" +
                        "Średnia: " + "{{results.avgP2160}}";
                } else if (searchedParameter == 'P2162') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2162}} <br>" +
                        "Max: " + "{{results.maxP2162}} <br>" +
                        "Średnia: " + "{{results.avgP2162}}";
                } else if (searchedParameter == 'P2164') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2164}} <br>" +
                        "Max: " + "{{results.maxP2164}} <br>" +
                        "Średnia: " + "{{results.avgP2164}}";
                } else if (searchedParameter == 'P2166') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2166}} <br>" +
                        "Max: " + "{{results.maxP2166}} <br>" +
                        "Średnia: " + "{{results.avgP2166}}";
                } else if (searchedParameter == 'P2168') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2168}} <br>" +
                        "Max: " + "{{results.maxP2168}} <br>" +
                        "Średnia: " + "{{results.avgP2168}}";
                } else if (searchedParameter == 'P2170') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2170}} <br>" +
                        "Max: " + "{{results.maxP2170}} <br>" +
                        "Średnia: " + "{{results.avgP2170}}";
                } else if (searchedParameter == 'P2172') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2172}} <br>" +
                        "Max: " + "{{results.maxP2172}} <br>" +
                        "Średnia: " + "{{results.avgP2172}}";
                } else if (searchedParameter == 'P2182') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2182}} <br>" +
                        "Max: " + "{{results.maxP2182}} <br>" +
                        "Średnia: " + "{{results.avgP2182}}";
                } else if (searchedParameter == 'P2188') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2188}} <br>" +
                        "Max: " + "{{results.maxP2188}} <br>" +
                        "Średnia: " + "{{results.avgP2188}}";
                } else if (searchedParameter == 'P2194') {
                    document.getElementById("receivedValue").innerHTML =
                        "Wartość parametru " + x.value + " dla prędkości " + speed.value + "[m/min] wynoszą<br>" +
                        "Min: " + "{{results.minP2194}} <br>" +
                        "Max: " + "{{results.maxP2194}} <br>" +
                        "Średnia: " + "{{results.avgP2194}}";
                } else {
                    alert('Niestety nasza baza nie zawiera informacji o takim parametrze');
                }
            }

            ////////////P1
            /////G1
            //Zone 1, G1, speed 0.6
            if (document.location.pathname == '/v-06-zone1') {
                var speed = document.getElementById("butt-P1-0.6");
                var speedValue = speed.value;
                searchByTextFieldP1();

                
            }

            //Zone 1, G1, speed 0.8
            if (document.location.pathname == '/v-08-zone1') {
                var speed = document.getElementById("butt-P1-0.8");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            //Zone 1, G1, speed 1.0
            if (document.location.pathname == '/v-1-zone1') {
                var speed = document.getElementById("butt-P1-1.0");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            //Zone 1, G1, speed 1.2
            if (document.location.pathname == '/v-12-zone1') {
                var speed = document.getElementById("butt-P1-1.2");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            /////G2
            //Zone 1, G2, speed 0.6
            if (document.location.pathname == '/v-06-zone1-G2') {
                var speed = document.getElementById("butt-P1-0.6");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            //Zone 1, G2, speed 0.8
            if (document.location.pathname == '/v-08-zone1-G2') {
                var speed = document.getElementById("butt-P1-0.8");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            //Zone 1, G2, speed 1.0
            if (document.location.pathname == '/v-1-zone1-G2') {
                var speed = document.getElementById("butt-P1-1.0");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            //Zone 1, G2, speed 1.2
            if (document.location.pathname == '/v-12-zone1-G2') {
                var speed = document.getElementById("butt-P1-1.2");
                var speedValue = speed.value;
                searchByTextFieldP1();
            }

            ////////////P2
            /////G1
            //Zone 1, G1, speed 0.6
            if (document.location.pathname == '/v-06-zone2') {
                var speed = document.getElementById("butt-P2-0.6");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            //Zone 1, G1, speed 0.8
            if (document.location.pathname == '/v-08-zone2') {
                var speed = document.getElementById("butt-P2-0.8");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            //Zone 1, G1, speed 1.0
            if (document.location.pathname == '/v-1-zone2') {
                var speed = document.getElementById("butt-P2-1.0");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            //Zone 1, G1, speed 1.2
            if (document.location.pathname == '/v-12-zone2') {
                var speed = document.getElementById("butt-P2-1.2");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            /////G2
            //Zone 1, G2, speed 0.6
            if (document.location.pathname == '/v-06-zone2-G2') {
                var speed = document.getElementById("butt-P2-0.6");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            //Zone 1, G2, speed 0.8
            if (document.location.pathname == '/v-08-zone2-G2') {
                var speed = document.getElementById("butt-P2-0.8");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            //Zone 1, G2, speed 1.0
            if (document.location.pathname == '/v-1-zone2-G2') {
                var speed = document.getElementById("butt-P2-1.0");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }

            //Zone 1, G2, speed 1.2
            if (document.location.pathname == '/v-12-zone2-G2') {
                var speed = document.getElementById("butt-P2-1.2");
                var speedValue = speed.value;
                searchByTextFieldP2();
            }





        }

    </script>
</body>



</html >
