<div class="navbar">
    <h1>Dobór głównych danych technologicznych</h1>
    <p class="menu"><a href="/parameters"  class="parametrycos">Parametry COS</a></p>
</div>
<div class="selection-panel">
    <div class="zone-selection">
        <p class="zone1"><a href="/">Pasmo 1</a> </p>
        <p class="zone2"><a href="/zone2">Pasmo 2</a></p>
    </div>
    <div class="new-db">
        <form action="/" method="POST" encType="multipart/form-data">
            <input type="file" name="file" accept="*.csv" /><br /><br />
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

<section class="get">
    <div class="main-space">
        <div class="left-part">
            <div class="left-selection">
                <div class="speed-groups">
                    <div class="tooltip-for-groups">
                        <p>Wybierz grupę według której chcesz wyszukać parametr</p>
                        <div class="help-tip">
                            <p>
                                Grupa 1: Prędkość odlewania grupa 1 [P2034]<br />
                                Grupa 2: Prędkość odlewania grupa 2 [P2036]
                            </p>
                        </div>
                    </div>
                    <form action="/index.js" name="sg">
                        <div class="speed-group1">
                            <input type="radio" name="speed-groups" value="zone2group1" id="zone2group1"> Grupa 1<br>
                        </div>
                        <div class="speed-group2">
                            <input type="radio" name="speed-groups" value="zone2group2" id="zone2group2"> Grupa 2<br>
                        </div>
                    </form>
                </div>
                <div class="buttons">
                    <p class="speed">PRĘDKOŚĆ [m/min]</p>
                    <button class="val butts" value="0.6" id="butt-P2-0.6"><a id="v-06-zone2">0.6</a></button>
                    <button class="val butts" value="0.8" id="butt-P2-0.8"><a id="v-08-zone2">0.8</a></button>
                    <button class="val butts" value="1.0" id="butt-P2-1.0"><a id="v-1-zone2">1.0</a></button>
                    <button class="val butts" value="1.2" id="butt-P2-1.2"><a id="v-12-zone2">1.2</a></button>
                </div>
            </div>

            <div class="right-selection">
                <form action="/">
                    <div class="tooltip-section">
                        <div class="tooltip-header">
                            <p>Jakiego parametru poszukujesz?</p>
                        </div>
                        <div class="help-tip">
                            <p>Chcesz dowiedzieć się więcej o parametrach znajdujących się w naszej bazie? <a href="/parameters" class="tooltip-link">Kliknij tutaj</a></p>
                        </div>
                    </div>
                    <input type="text" id="searchparameter" value="P1034">
                    <button type="button" onclick="myFunction()" id="tes" class="searchText-button">Szukaj</button>
                    <p id="receivedValue"></p>
                </form>
            </div>
        </div>
        <div class="right-part">
            <div class="zones">
                <div class="second-zone">
                    <p>Pasmo 2</p>
                    <table>
                        <tr>
                            <th>     </th>
                            <th>P2034</th>
                            <th>P2036</th>
                            <th>P2058</th>
                            <th>P2060</th>
                            <th>P2062</th>
                            <th>P2064</th>
                            <th>P2104</th>
                            <th>P2106</th>
                            <th>P2108</th>
                            <th>P2112</th>
                            <th>P2114</th>
                            <th>P2118</th>
                            <th>P2120</th>
                            <th>P2122</th>
                            <th>P2124</th>
                            <th>P2126</th>
                            <th>P2128</th>
                            <th>P2130</th>
                            <th>P2132</th>
                            <th>P2134</th>
                            <th>P2136</th>
                            <th>P2138</th>
                            <th>P2140</th>
                            <th>P2142</th>
                            <th>P2144</th>
                            <th>P2146</th>
                            <th>P2148</th>
                            <th>P2150</th>
                            <th>P2152</th>
                            <th>P2154</th>
                            <th>P2156</th>
                            <th>P2158</th>
                            <th>P2160</th>
                            <th>P2162</th>
                            <th>P2164</th>
                            <th>P2166</th>
                            <th>P2168</th>
                            <th>P2170</th>
                            <th>P2172</th>
                            <th>P2182</th>
                            <th>P2188</th>
                            <th>P2194</th>
                        </tr>
                        <tr>
                            <th>       </th>
                            <th>[m/min]</th>
                            <th>[m/min]</th>
                            <th>[mm]</th>
                            <th>[mm]</th>
                            <th>[mm]</th>
                            <th>[mm]</th>
                            <th>[m/min]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[l/min]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[l/min]</th>
                            <th>[bar]</th>
                            <th>[°C]</th>
                            <th>[°C]</th>
                            <th>[m/min]</th>
                        </tr>
                        <tr>
                            <th>Min</th>
                            <th>{{results.minP2034}}</th>
                            <th>{{results.minP2036}}</th>
                            <th>{{results.minP2058}}</th>
                            <th>{{results.minP2060}}</th>
                            <th>{{results.minP2062}}</th>
                            <th>{{results.minP2064}}</th>
                            <th>{{results.minP2104}}</th>
                            <th>{{results.minP2106}}</th>
                            <th>{{results.minP2108}}</th>
                            <th>{{results.minP2112}}</th>
                            <th>{{results.minP2114}}</th>
                            <th>{{results.minP2118}}</th>
                            <th>{{results.minP2120}}</th>
                            <th>{{results.minP2122}}</th>
                            <th>{{results.minP2124}}</th>
                            <th>{{results.minP2126}}</th>
                            <th>{{results.minP2128}}</th>
                            <th>{{results.minP2130}}</th>
                            <th>{{results.minP2132}}</th>
                            <th>{{results.minP2134}}</th>
                            <th>{{results.minP2136}}</th>
                            <th>{{results.minP2138}}</th>
                            <th>{{results.minP2140}}</th>
                            <th>{{results.minP2142}}</th>
                            <th>{{results.minP2144}}</th>
                            <th>{{results.minP2146}}</th>
                            <th>{{results.minP2148}}</th>
                            <th>{{results.minP2150}}</th>
                            <th>{{results.minP2152}}</th>
                            <th>{{results.minP2154}}</th>
                            <th>{{results.minP2156}}</th>
                            <th>{{results.minP2158}}</th>
                            <th>{{results.minP2160}}</th>
                            <th>{{results.minP2162}}</th>
                            <th>{{results.minP2164}}</th>
                            <th>{{results.minP2166}}</th>
                            <th>{{results.minP2168}}</th>
                            <th>{{results.minP2170}}</th>
                            <th>{{results.minP2172}}</th>
                            <th>{{results.minP2182}}</th>
                            <th>{{results.minP2188}}</th>
                            <th>{{results.minP2194}}</th>
                        </tr>
                        <tr>
                            <th>Max</th>
                            <th>{{results.maxP2034}}</th>
                            <th>{{results.maxP2036}}</th>
                            <th>{{results.maxP2058}}</th>
                            <th>{{results.maxP2060}}</th>
                            <th>{{results.maxP2062}}</th>
                            <th>{{results.maxP2064}}</th>
                            <th>{{results.maxP2104}}</th>
                            <th>{{results.maxP2106}}</th>
                            <th>{{results.maxP2108}}</th>
                            <th>{{results.maxP2112}}</th>
                            <th>{{results.maxP2114}}</th>
                            <th>{{results.maxP2118}}</th>
                            <th>{{results.maxP2120}}</th>
                            <th>{{results.maxP2122}}</th>
                            <th>{{results.maxP2124}}</th>
                            <th>{{results.maxP2126}}</th>
                            <th>{{results.maxP2128}}</th>
                            <th>{{results.maxP2130}}</th>
                            <th>{{results.maxP2132}}</th>
                            <th>{{results.maxP2134}}</th>
                            <th>{{results.maxP2136}}</th>
                            <th>{{results.maxP2138}}</th>
                            <th>{{results.maxP2140}}</th>
                            <th>{{results.maxP2142}}</th>
                            <th>{{results.maxP2144}}</th>
                            <th>{{results.maxP2146}}</th>
                            <th>{{results.maxP2148}}</th>
                            <th>{{results.maxP2150}}</th>
                            <th>{{results.maxP2152}}</th>
                            <th>{{results.maxP2154}}</th>
                            <th>{{results.maxP2156}}</th>
                            <th>{{results.maxP2158}}</th>
                            <th>{{results.maxP2160}}</th>
                            <th>{{results.maxP2162}}</th>
                            <th>{{results.maxP2164}}</th>
                            <th>{{results.maxP2166}}</th>
                            <th>{{results.maxP2168}}</th>
                            <th>{{results.maxP2170}}</th>
                            <th>{{results.maxP2172}}</th>
                            <th>{{results.maxP2182}}</th>
                            <th>{{results.maxP2188}}</th>
                            <th>{{results.maxP2194}}</th>
                        </tr>
                        <tr>
                            <th>Średnia</th>
                            <th>{{results.avgP2034}}</th>
                            <th>{{results.avgP2036}}</th>
                            <th>{{results.avgP2058}}</th>
                            <th>{{results.avgP2060}}</th>
                            <th>{{results.avgP2062}}</th>
                            <th>{{results.avgP2064}}</th>
                            <th>{{results.avgP2104}}</th>
                            <th>{{results.avgP2106}}</th>
                            <th>{{results.avgP2108}}</th>
                            <th>{{results.avgP2112}}</th>
                            <th>{{results.avgP2114}}</th>
                            <th>{{results.avgP2118}}</th>
                            <th>{{results.avgP2120}}</th>
                            <th>{{results.avgP2122}}</th>
                            <th>{{results.avgP2124}}</th>
                            <th>{{results.avgP2126}}</th>
                            <th>{{results.avgP2128}}</th>
                            <th>{{results.avgP2130}}</th>
                            <th>{{results.avgP2132}}</th>
                            <th>{{results.avgP2134}}</th>
                            <th>{{results.avgP2136}}</th>
                            <th>{{results.avgP2138}}</th>
                            <th>{{results.avgP2140}}</th>
                            <th>{{results.avgP2142}}</th>
                            <th>{{results.avgP2144}}</th>
                            <th>{{results.avgP2146}}</th>
                            <th>{{results.avgP2148}}</th>
                            <th>{{results.avgP2150}}</th>
                            <th>{{results.avgP2152}}</th>
                            <th>{{results.avgP2154}}</th>
                            <th>{{results.avgP2156}}</th>
                            <th>{{results.avgP2158}}</th>
                            <th>{{results.avgP2160}}</th>
                            <th>{{results.avgP2162}}</th>
                            <th>{{results.avgP2164}}</th>
                            <th>{{results.avgP2166}}</th>
                            <th>{{results.avgP2168}}</th>
                            <th>{{results.avgP2170}}</th>
                            <th>{{results.avgP2172}}</th>
                            <th>{{results.avgP2182}}</th>
                            <th>{{results.avgP2188}}</th>
                            <th>{{results.avgP2194}}</th>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

    </div>
</section>
